<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head th:replace="layout :: head('Collaborators')"></head>
    <body>
    <div th:replace="layout :: flash"></div>
    <header th:replace="layout :: header"></header>
    <nav th:replace="layout :: navbar"></nav>
        <section>
            <div class="container wrapper">
                <form th:object="${collaborator}" action="" method="post">
                    <h2>Manage Collaborators</h2>
                    <ul class="checkbox-list">
                        <li th:each="entry : ${roleCollaborators}">
                            <a class="primary" th:href="|@{/collaborators/}${entry.key.id}|" th:text="${entry.key.name}"></a>
                            <span th:text="${entry.value.name}"></span>
                            <!--<div class="custom-select">
                                <span class="dropdown-arrow"></span>
                                <select>
                                    <option th:each="rle : ${roles}" value="#" selected="selected" th:text="${rle.name}">Designer</option>
                                </select>
                            </div>-->
                        </li>
                    </ul>
                    <div class="actions add-new-collaborator">
                        <input type="text" th:field="*{name}" placeholder="Name..."/>
                        <!--<input type="text" th:field="*{role.id}" placeholder="Role..."/>-->
                        <select th:field="*{role.id}">
                            <option th:each="rle : ${roles}" th:value="${rle.id}" th:text="${rle.name}"></option>
                        </select>
                        <button type="submit" class="button" style="width: 57px;">Add</button>
                        <!--<a class="button" href="#">Add</a>-->
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>