<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head th:replace="layout :: head('Collaborators')"></head>
    <body>
    <div th:if="${flash != null}">
        <p th:text="${flash.message}"></p>
    </div>
    <header>
            <div class="container">
                <div class="site-header">
                    <a class="logo" th:href="@{/index.html}">InstaTeam</a>
                    <a class="new-project button icon-left" th:href="@{/add}"><i class="material-icons">add</i> New Project</a>
                </div>
            </div>
        </header>
        <nav>
            <ul>
                <li><a th:href="@{/index.html}">Projects</a></li>
                <li class="selected"><a th:href="@{/collaborators.html}">Collaborators</a></li>
                <li><a th:href="@{/roles.html}">Roles</a></li>
            </ul>
        </nav>
        <section>
            <div class="container wrapper">
                <form th:object="${collaborator}" action="" method="post">
                    <h2>Manage Collaborators</h2>
                    <ul class="checkbox-list">
                        <li th:each="entry : ${roleCollaborators}">
                            <span class="primary" th:text="${entry.value.name}"></span>
                            <span th:text="${entry.key.name}"></span>
                            <!--<div class="custom-select">
                                <span class="dropdown-arrow"></span>
                                <select>
                                    <option th:each="rle : ${roles}" value="#" selected="selected" th:text="${rle.name}">Designer</option>
                                </select>
                            </div>-->
                        </li>
                    </ul>
                    <div class="actions add-new-collaborator">
                        <input type="text" th:field="*{name}" placeholder="Name..."/>
                        <!--<input type="text" th:field="*{role.id}" placeholder="Role..."/>-->
                        <select th:field="*{role.id}">
                            <option th:each="rle : ${roles}" th:value="${rle.id}" th:text="${rle.name}"></option>
                        </select>
                        <button type="submit" class="button" style="width: 57px;">Add</button>
                        <!--<a class="button" href="#">Add</a>-->
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>