<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="layout :: head('Edit Collaborator')"></head>
<body>
<div th:if="${flash != null}">
    <p th:text="${flash.message}"></p>
</div>
<header th:replace="layout :: header"></header>
<nav th:replace="layout :: navbar"></nav>
<section>
    <div class="container wrapper">
        <form th:object="${collaborator}" th:action="@{/collaborators}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <h2>Manage Collaborators</h2>
            <div class="actions add-new-collaborator">
                <input type="text" th:field="*{name}" placeholder="Name..."/>
                <!--<input type="text" th:field="*{role.id}" placeholder="Role..."/>-->
                <select th:field="*{role.id}">
                    <option th:each="rle : ${roles}" th:value="${rle.id}" th:text="${rle.name}"></option>
                </select>
                <button type="submit" class="button" style="width: 84px;">Update</button>
                <!--<a class="button" href="#">Add</a>-->
            </div>
        </form>
        <!--<a class="button" th:href="|@{/collaborator/}${collaborator.id}/delete|">Delete</a>-->
    </div>
</section>
</body>
</html>