<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head th:replace="layout :: head('Roles')"></head>
    <body>
        <header>
            <div class="container">
                <div class="site-header">
                    <a class="logo" href="index.html">InstaTeam</a>
                    <a class="new-project button icon-left" href="/add"><i class="material-icons">add</i> New Project</a>
                </div>
            </div>
        </header>
        <nav>
            <ul>
                <li><a href="index.html">Projects</a></li>
                <li><a href="collaborators.html">Collaborators</a></li>
                <li class="selected"><a href="roles.html">Roles</a></li>
            </ul>
        </nav>
        <section>
            <div class="container wrapper">
                <form th:object="${role}" action="" method="post">
                    <h2>Manage Roles</h2>
                    <div>
                        <ul class="checkbox-list">
                            <!--<li th:each="rle : ${roles}"><span th:text="${rle.name}" class="primary"></span></li>-->
                            <li th:each="rle : ${roles}"><a th:href="|@{/roles/}${rle.id}" th:text="${rle.name}" class="primary"></a></li>
                        </ul>
                    </div>
                    <div class="actions add-new-role">
                        <input type="text" th:field="*{name}" placeholder="New Role..."/>
                        <button type="submit">Add</button>
                        <!--<a class="button" href="#">Add</a>-->
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>