<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="layout :: head('Roles')"></head>
<body>
<header th:replace="layout :: header"></header>
<nav th:replace="layout :: navbar"></nav>
<section>
    <div class="container wrapper">
        <form th:object="${role}" th:action="@{/roles}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <h2>Edit Role</h2>
            <div class="actions add-new-role">
                <input type="text" th:field="*{name}" placeholder="New Role..."/>
                <button type="submit">Update</button>
                <!--<a class="button" href="#">Add</a>-->
            </div>
        </form>
    </div>
</section>
</body>
</html>